<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="true" name="Suite">
	<listeners>
		<listener class-name="vishwalearning.TestComponents.Listeners"></listener>
	</listeners>
	
  <test thread-count="5" name="Submit Order Test">
    <classes>
      <class name="vishwalearning.SubmitOrderTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Error Validation Test">
    <classes>
      <class name="vishwalearning.ErrorValidationTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Base Test">
    <classes>
      <class name="vishwalearning.TestComponents.BaseTest"/>
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
